*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
.container{
  background-color: white;
}
/* .home-screen{
  dashboard/homepage
} */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}
.left{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
#logo{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  column-gap: 20px;
}
a{
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
} 
a:hover{
  color: red;
}
.right{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.cart-button{
  background-color: orangered;
  color:white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.profile{
  font-size: 12px;
  color: grey;
  cursor: pointer;
  font-weight: bold;
}
.profile:hover{
  color:black;
}
#navbar-cart{
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  color:white;
  background-color: orangered;
}
.content{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  padding: 10px;
  margin: 20px;
}
.image-preview{
  position: relative;
  border-radius: 3px;
  width: 260px;
  height: 300px;
}
.sale{
  background-color: orangered;
  border-radius: 20px;
  padding: 5px 12px;
  position: absolute;
  top: 10px;
  right:10px;
  font-size: 12px;
  color:white;
}
.preview-button{
  background-color: white;
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
img{
  width: 100%;
  border-radius: 3px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-name{
  margin-block: 20px 10px;
}
.price{
  color:grey;
  font-size: 14px;
}
.sale-price{
  color: rgb(227, 108, 23);
  text-decoration: line-through;
  font-size: 10px;
}


/* modal css */
.preview-modal{
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}
#preview-modal-content{
  background-color: white;
  width: 70%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 20px;
  padding: 20px 30px;
}
#modal-img{
  height: 70%;
  flex:1;
  margin: 20px;
  img{
    object-fit: cover;
    object-position: center;
  }
}
#preview-modal-details{
  display: flex;
  flex:1;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  height: 80%;
}
#preview-modal-number{
  font-size: 10px;
  color: grey;
}
#preview-modal-name{
  font-size: 30px;
  margin-block: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
#preview-modal-des{
  font-size: 10px;
  color:rgb(174, 174, 174);
  word-spacing: 5px;
  letter-spacing: 1px;
}
#preview-modal-price{
  font-size: 30px;
  margin-block: 20px;
  color: orangered;
}
#preview-modal-quantity{
  padding: 25px 30px;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
}
#preview-modal-quan{
  border: 1px solid rgb(231, 231, 231);
  border-radius: 20px;
  padding: 10px 30px;
}
#modal-add-to-cart{
  background-color: rgb(253, 111, 59);
  max-width: max-content;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 15px 30px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  border: none;
  margin-block-start: 40px;
  cursor: pointer;
  border-radius: 30px;
}
#modal-close-btn{
  position: absolute;
  top: 0;
  right: 10px;
  background-color: transparent;
  border:none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}

/* modal css end */

